.productsSubtitle {
    margin-left: 140px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 45px;
    border-bottom: 2px solid black;
    width: 35%;
}


.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 90%;
  margin: auto;
  padding: 15px 30px;
  background-color: lightcoral;
  border-radius: 30px;
}
